* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Piazzolla', serif;
    width: 100%;
    min-height: 100vh;
    background: rgb(25,28,64);
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji; 
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(64,68,114);
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: solid 1px rgba(178,151,88);
    z-index: 1;
    padding: 5px 20px;
}

.nav-links a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons {
    width: 25px;
    height: 25px;
}

nav h2 {
    color: rgba(178,151,88);
}

.nav-links {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 6px;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    min-height: 85vh;
    max-width: 1000px;
}

.hero h1 {
    font-size: 48px;
    line-height: 1;
    margin-bottom: 8px;
    padding-left: 10px;
}

.hero p {
    color: rgb(195,192,192);
    margin-bottom: 8px;
    font-size: 14px;
    padding-left: 10px;
}

.hero button {
    margin-left: 10px;
}

button {
    border: solid 1px rgb(178, 151, 88);
    border-radius: 6px;
    transition: border-radius 150ms;
    width: 128px;
    padding: 8px 0px;
    background: rgb(92,95,124);
    font-size: 14px;
    color: rgb(178, 151, 88);
    cursor: pointer;
}

button:hover {
    background: rgb(64,68,114);
}

.Bild {
    width: 333px;
    margin: 0px 10px 0px 10px;

    box-shadow: rgba(178,151,88) 10px 10px;
}

.intro-text {
    color: white;
}

.small-text {
    font-size: small;
}

.Work {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 70px;
}

.work-title {
    text-align: center;
    font-size: 36px;
    line-height: 40px;
    font-weight: 700;
    margin-bottom: 12px;
}

.work-sub {
    color: rgb(195,192,192);
    padding: 0px 20px 5px 20px;
    max-width: 896px;
    margin: 0 auto;
    text-align: center;
}

p {
    font-size: 14px;
    line-height: 20px;
}

.chips-wrapper {
    display: flex;
    gap: 8px;
    justify-content: center;
    margin: 8px 0px;
    padding: 0px 12px;
}

.chip {
    border: 1px solid #b29758;
    border-radius: 9999px;
    padding: 4px 12px;
    font-size: 14px;
    background-color: rgb(64,68,114);
    color: #b29758;
}

.projects-container {
    padding: 20px;
}

.project {
    margin: 40px auto;
    max-width: 1024px;
    height: 450px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.img-container {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 150ms;
    
}

.img-container:hover {
    transform: scale(1.1);
}

.img-container img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.img-overlay {
    position: absolute;
    inset: 0;
    background: #26262699;
}

.project-text-container {
    position: absolute;
    bottom: 0;
    padding: 20px;
}

.project-text-title {
    font-size: 36px;
    line-height: 40px;
    color: rgb(224, 242, 254);
    font-weight: 900;
}

.project-text-title {
    font-family: 'Piazzolla', serif;
}

.project-text-sub {
    color: rgb(240, 249, 255);
    font-size: 14px;
    margin-bottom: 12px;
}

.project-text-sub {
    font-family: 'Piazzolla', serif;
}

footer {
    background-color: rgb(64,68,114);
}

.footer-license {
    text-align: center;
    color: rgba(178,151,88);
    padding: 30px;
    border-top: 1px solid rgba(178,151,88) ;
}

p.footer-license {
    font-size: 14px;
    line-height: 20px;
}

@media screen and (max-width: 800px){
    .hero {
        flex-direction: column;
    }
}